name: Test
on:
  push:

defaults:
  run:
    shell: bash

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: ['8.1', '8.2']
        wordpress: ['6.6.4', '6.7.4']
        mode: ['single-site']
        include:
        - mode: multi-site
          php: '8.2'
    services:
      gcs:
        image: ghcr.io/mrhenry/fake-gcs-server
        ports:
          - 4443:4443
      mysql:
        image: mysql:8
        env:
          MYSQL_RANDOM_ROOT_PASSWORD: 1
          MYSQL_DATABASE: wp_tests_db
          MYSQL_USER: wp_test
          MYSQL_PASSWORD: password
          MYSQL_HOST: 127.0.0.1
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3

    steps:
    - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36
      with:
        php-version: ${{ matrix.php }}
        extensions: imagick

    - name: create bucket
      run: |
        curl -X POST --data '{ "name": "test-bucket", "location": "US", "storageClass": "STANDARD", "iamConfiguration": { "uniformBucketLevelAccess": { "enabled": true } } }' \
        -H "Content-Type: application/json" \
        "http://0.0.0.0:4443/storage/v1/b"

    - name: install svn
      run: |
        sudo apt-get update
        sudo apt-get install -y subversion

    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: install dependencies
      uses: php-actions/composer@8a65f0d3c6a1d17ca4800491a40b5756a4c164f3 # v6.1.2
      with:
        args: "--ignore-platform-reqs"

    - name: setup wordpress tests
      env:
        WP_VERSION: ${{ matrix.wordpress }}
        TMPDIR: ./.wp-test-root
      run: |
        bash .github/bin/install-wp-tests.sh wp_tests_db wp_test password 127.0.0.1 $WP_VERSION

    - name: test
      if: ${{ matrix.mode == 'single-site' }}
      env:
        GS_UPLOADS_BUCKET: test-bucket
        GS_UPLOADS_BUCKET_URL: "http://0.0.0.0:4443"
      run: |
        ./vendor/bin/phpunit -c .phpunit-single-site.xml.dist

    - name: test
      if: ${{ matrix.mode == 'multi-site' }}
      env:
        GS_UPLOADS_BUCKET: test-bucket
        GS_UPLOADS_BUCKET_URL: "http://0.0.0.0:4443"
      run: |
        ./vendor/bin/phpunit -c .phpunit-multi-site.xml.dist
